<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appsettings>
    <add key="Theme" value="0" />
    <add key="KeyBind" value="0" />
    <add key="Theme" value="0" />
    <add key="Theme" value="0" />
    <add key="Theme" value="0" />
    <add key="Theme" value="0" />
    <add key="Theme" value="0" />
    <add key="Theme" value="0" />
    <add key="Theme" value="0" />
    <add key="Theme" value="0" />
    </appsettings>
</configuration>